@{
    ViewBag.Title = "About";
}
<h1>About us</h1>

<p>Whenever you buy the Sewing Patterns from us, we want you to be confident that it's going to be the right template for you.<br>

That's been our primary goal throughout our history.<br>

That's why we only sell the highest quality patterns of skirts, pants, blouses and dresses.
</p>

